[Unit]
Description=Remote GPIO HTTP server
After=network.target
[Service]
ExecStart=/usr/bin/bash local-run.sh
Restart=always
User=net-user
[Install]
WantedBy=multi-user.target